body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-main {
  background-color: grey !important;
}

.App {
  margin-top: 100px;
}

.wizard-main {
  margin-bottom: 5vh;
  position: relative;
}

.wizard-header {
  background-color: #e8e3e3;
  min-height: 60px;
}

.wizard-header .step {
  background-color: grey;
  margin: 10px;
  text-align: center;
}

.wizard-header .step.active {
  background-color: #e0a800;
}


.wizard-header .step div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wizard-body {
  background-color: #e8e3e3;
  margin: 10px 0px;
  min-height: 60vh;
  max-height: 60vh;
  overflow-y: auto;
}

.wizard-body hr{
  background: red;
}

.wizard-footer {
  position: absolute;
  right: 0px;
}
